# Firebase Configuration
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyB9poBpkIIjYSanFBLpNSihyD1GT0PAoDA
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=medlens-894ac.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=medlens-894ac
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=medlens-894ac.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=402430163576
EXPO_PUBLIC_FIREBASE_APP_ID=1:402430163576:web:769c2e6ea25a626abe0b8d

# Cloudinary Configuration
EXPO_PUBLIC_CLOUDINARY_NAME=dgyxjvjtv
EXPO_PUBLIC_CLOUDINARY_PRESET=medlens

# OpenRouter Configuration
EXPO_PUBLIC_OPENROUTER_API_KEY=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
